@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 変数　ミックスイン定義 */
@mixin link {
  &:hover {
    opacity:0.7;
    text-decoration:none;
  }
}

@mixin heading {
  text-align: center;
  font-weight: bold;
  padding: 0.5rem 0;
  border-top: 3px solid #6c63ff;
  border-bottom: 3px solid #6c63ff;
  margin-bottom: 2rem;
}

@mixin pagination {
  padding: 3rem;
    text-align: center;
  nav {
    width: 200px;
    margin: 0 auto;
  }
}

/* タイポグラフィ */

h1, h2, h3, h4, h5, h6, p{
  line-height: 1;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  opacity: 0.9;
}

/*デフォルトボタンのレイアウト*/
.btn-default {
  background: none;
  border: 1px solid white;
  color: white;
  &:hover {
    color: white;
    opacity:0.5;
  }
}

/* トップページ　*/
/* topセクション */
.top {
  background: linear-gradient(to right, #83a4d4, #b6fbff);
  height: 100vh;
  color: white;
}
  /* ヘッダー部分 */
.top-header {
  padding-top: 0.5rem;
  margin-bottom: 1rem;
  #logo {
    @include link;
    img {
      width: 120%;
      height: auto;
    }
  }
  ul {
    display:flex;
    list-style: none;
    transform: translateY(20%);
    li {
      margin-left: 0.8rem;
      .fa-book-open {
        margin-right: 0.2rem;
      }
      a {
        font-size: 1.3rem;
        color: white;
        @include link
      }
    }
  }
}

  /* コンテンツ部分 */
.top-contents {
  .contents-left {
    padding-top: 1.5rem;
    margin-bottom: 2rem;
    .text {
      margin-bottom: 3rem;
        p {
          font-size: 2rem;
        }
      }
    .description {
      p {
          font-size: 1.5rem;
        }
      }
    }
  .contents-right {
    img {
        width: 100%;
    }
  }
  .contents-bottom {
    margin: 0 auto;
    padding: 3rem 0;
    a {
      margin-right: 1rem;
      width: 200px;
      font-size: 1.5rem;
    }
  }
}

/* aboutセクション */
.about-contents {
  padding: 3rem 1rem;
  .contents-left {
    margin-bottom: 2rem;
    .description {
      p {
        font-size: 1.2rem;
      }
    }
  }
  .contents-right {
    padding: 1rem 0 0 0;
    img {
      width: 100%;
    }
  }
}

/* ヘッダー共通部分 */
header {
  color: white;
  background: #6c63ff;
  .navbar-brand {
    margin-left: 1rem;
    width: 30%;
    display:flex;
    img {
      width: 25%;
      height: 100%;
      border-radius: 50%;
    }
    p {
      font-size: 1.5rem;
      margin-left: 1.5rem;
      transform: translateY(50%);
    }
  }
  .navbar-nav {
    display: flex;
    list-style: none;
  }
  .nav-item {
    font-size: 1.3rem;
  }
}

/* 記事一覧ページ */
.posts-index {
  padding: 2rem 0;
  h2 {
    @include heading;
  }
  .pagination-wrapper {
    @include pagination;
  }
}
.card {
  margin-bottom: 1rem;
  .card-body {
    img{
      height: auto;
      width: 100%;
      opacity: 0.5;
    }
  }
  .card-header {
    .user-name {
      font-size: 1.2rem;
      a {
        color: #333;
        @include link
      }
    }
    img {
      width: 100%;
      height: auto;
      border-radius: 50%;
    }
  }

  .card-header, .card-footer {
    background: transparent;
  }
  .card-body {
    position: relative;
    .card-title {
      position: absolute;
      top: 2rem;
      a {
        color: #333;
        @include link;
      }
    }
    .subtitle {
      display: flex;
      .year {
        margin-left: auto;
      }
    }
  }
  .card-text {
    font-size: 0.8rem;
  }
  .footer-menu {
    display: flex;
    justify-content: flex-end;
  }
  .fa-arrow-alt-circle-down {
    margin-left: 0.8rem;
    color: #333;
    font-size: 2rem;
  }
  .fa-edit {
    margin-left: 0.8rem;
    color: #333;
    font-size: 2rem;
    @include link
  }
}

/* ユーザー詳細ページ */
.user-posts {
  padding: 2rem 0;
  h2 {
    text-align:center;
    font-weight: bold;
  }
  .user-icon {
    padding: 0.5rem 0 1.5rem 0;
    display:flex;
    justify-content: center;
    img {
      width: 15%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .user-menu {
    font-size: 1.2rem;
    text-align: right;
    a {
      margin-right: 1rem;
      color: #333;
      @include link;
    }
    margin-bottom: 2rem;
    hr {
      border-width: 2px;
    }
  }
  .pagination-wrapper {
    @include pagination;
  }
}


/* ユーザー一覧ページ */
.users-index {
  padding: 2rem 0;
  h2 {
    @include heading;
  }
  .pagination-wrapper {
    @include pagination;
  }
}

.user {
  margin-bottom: 1rem;
  img {
    padding: 0.5rem 0;
    width: 70%;
    height: auto;
    border-radius: 50%;
  }

  .user-detail {
    a{
      color: #333;
      text-align: left;
      @include link;
    }
    p {
      font-size: 1.5rem;
      transform: translateY(50%);
    }
  }
  .user-menu {
    display: flex;
    justify-content: flex-end;
    a {
      font-size: 1rem;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
}

/* 新規ユーザー登録画面 */
#signup_form, #login_form, #forget_password {
  padding-bottom: 3rem;
  background: linear-gradient(to right, #83a4d4, #b6fbff);
  color: rgba(255,255,255,0.9);
  h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  input {
    margin-bottom: 1rem;
  }
  .field {
    margin: 0 auto;
  }
}

#error_explanation {
  color: #ff6347;
  font-weight: bold;
}

/* ユーザーログイン画面 */
#login_form {
  .alert {
    color: #ff6347;
    font-weight: bold;
  }
}

/* パスワード忘れた画面 */
#forget_password {
  .alert {
    color: #ff6347;
    font-weight: bold;
  }
}

/* ユーザーアカウント設定画面 */
.user-settings {
  padding: 2rem 0;
  .action {
    input {
      margin-bottom: 1rem;
    }
  }
  .form-control {
    margin-bottom: 1rem;
  }
  .field {
    margin: 0 auto;
  }
  .user-icon-settings {
    width: 300px;
    margin: 0 auto;
    .user-icon {
      text-align:center;
      width: 300px;
      margin: 0 auto;
      img {
        padding: 1rem 0 1rem 0;
        width: 50%;
        border-radius: 50%;
      }
    }
  }
}

.form-wrapper {
  width: 80%;
  margin: 0 auto;
}

/* 新規投稿画面 */
.posts-new, .posts-edit, .posts-show {
  padding: 2rem 0;
  h2 {
    @include heading;
  }
}

/* 投稿編集画面 */
.posts-edit, .posts-new {
  .post-image-settings {
    width: 300px;
    margin: 0 auto;
  }
  .form-control {
    margin-bottom: 1rem;
  }
  .field {
    margin: 0 auto;
  }
  .post-detail {
    display: flex;
    justify-content: space-between;
  }
}

/* 投稿詳細画面 */
.posts-show {
  .post-title {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  .post-figures {
    width: 90%;
    margin: 0 auto;
    img {
      width: 90%;
    }
  }
  .post-info {
    padding-top: 2rem;
    width: 95%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    h3 {
      font-size: 1.5rem;
    }
    .author {
      font-family: "Times New Roman", Times, serif;
    }
  }
  .post-contents {
    .content-column {
      margin-bottom: 2rem;
    }
    .contents-header {
      width: 100%;
      margin-bottom: 1rem;
      text-align: center;
      height: 3rem;
      padding-top: 1rem;
      border-radius: 1.5rem;
      color: white;
      font-weight: bold;
      background: #6c63ff;
    }
  }
}

